@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --background-color: #fadcdb;
    --input-color: #f0e5df;
    --font-color: #5e5151;
    --button-color: #eb9f9f;
}
body{
    font-family: 'GoyangIlsan';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
}
#backImg{
    padding: 5px 5px;
    width: 35px;
}
#backButton{
    display: flex;
    align-items: center;
}