@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'GoyangIlsan';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fadcdb;
    width: 100%;
}
#title{
    margin-top: 70px;
    font-size: 60px;
    color: #5e5151;
}
#modifyProfileBox{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 550px;
    border: 4px solid #5e5151;
    border-radius: 10px;
    color : #5e5151;
    font-size: 24px;
}
.modifyProfileBoxItems{
    width: 80%;
    margin: 5px 0px;
}
.inputs{
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    background-color: #f0e5df ;
    border: none;
    font-size: 20px;
}
#bottomButtons{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.constraintsBox{
    display: flex;
}
.constraints{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 16px;
}
#cancleButton{
    padding: 5px 5px;
    text-align: center;
    background-color: #fadcdb;
    border: 2px #5e5151 solid;
}
#modifyProfileButton{
    padding: 5px 5px;
    text-align: center;
    background-color: #fadcdb;
    border: 2px #5e5151 solid;
}
#modifyPwButton{
    margin: 10px 0px;
    /* border: #5e5151 2px solid; */
}